* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

html, 
body {
    height: 100%;
}

html {
    font-family: Arial, Helvetica, sans-serif;
    background: linear-gradient(to left, #867979,#4d0000);
    font-size: 10px;
}

body {
    display: flex;
    justify-content: center;
    align-items: center;
}

#chat-container {
    display: grid;
    grid: 
        'search-container chat-title' 71px
        'conversation-list chat-message-list' 1fr
        'new-message-container chat-form' 78px
        / 275px 1fr;
    min-width: 800px;
    max-width: 1000px;
    max-height: 800px;
    flex: 1 0 0;
    height: 95vh;
    background: #FFF;
    border-radius: 10px;
}

#search-container,
#conversation-list,
#new-message-container {
    background: #0048AA;
}
#search-container {
    display: flex;
    align-items: center;
    grid-area: search-container;
    padding: 0 20px;
    border-radius: 10px 0 0 0;
    box-shadow: 0 1px 3px -1px rgba(0,0,0, 0.75);
    z-index: 1;
}

#search-container input {
    flex: 1 0 0;
    color: #eee;
    outline: none;
    font-weight: bold;
    border-radius: 2px;
    height: 30px;
    border: 0;
    padding-left: 48px;
    padding-right: 20px;
    font-size: 1.4rem;
    background: url('../images/index.png') no-repeat rgba(255, 255, 255, 0.3);
    background-size: 20px 20px;
    background-position: 15px center;
}

#search-container input::placeholder {
    color: #ddd;
    font-weight: bold;
}

#conversation-list {
    grid-area: conversation-list;
    overflow-y: scroll;
}

.conversation {
    display: grid;
    grid-template-columns: 40px 1fr max-content;
    grid-gap: 10px;
    color: #ddd;
    font-size: 1.3rem;
    border-bottom: 1px solid #002C88;
    padding: 20px 20px 20px 15px;
}

.conversation.active,
.conversation:hover {
    background: #011a4e;
}

.conversation:hover {
    cursor: pointer;
}